services:
  web:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
      target: dev
    ports:
      - "3002:3000"
    environment:
      - PORT=3000
      - HOSTNAME=0.0.0.0
      - NEXT_TELEMETRY_DISABLED=1
    volumes:
      - ..:/app
      - node_modules:/app/node_modules
      - next_cache:/app/.next
    command: npm run dev -- -p 3000 -H 0.0.0.0
    restart: unless-stopped

volumes:
  node_modules:
  next_cache:



